@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    box-sizing: border-box;
  }

header{
    background-color: aqua;
}

main{
    width: 100%;
}

h1{
    font-size: 50px;
    margin: 50px;
    font-family: 'Sacramento',cursive;
    color: yellow;
}

.irreplaceable{
    float: left;
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

img{
    width: 25%;
    height: 25%;
}



@media (max-width: 670px) {
    .irreplaceable {width: 50%;
      
    }

    img{
        width: 25%;
        height: 25%;
    }
  }
