@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    box-sizing: border-box;
  }

header{
    background-color: aqua;
}

main{
    width: auto;
}

h1{
    font-size: 50px;
    margin: 50px;
    font-family: 'Sacramento',cursive;
    color: yellow;
}

.irreplaceable{
    float: left;
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.clear{
    clear: both;
}

h2{
    padding-left: 10px;
    border-bottom: 1px solid black;
}

ul{
    padding-left: 0px;
}

p{
    text-align: right;
    padding-bottom: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

img{
    width: 100%;
    height: 100%;
}

.member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

@media (max-width: 670px) {
    .irreplaceable {width: 50%;
      
    }

    h1{
        text-align: center;
    }

    p{
        padding-bottom: 20px;
    }

    img{
        width: 100%;
        height: 100%;
    }
  
